thermostat nodered flow.json
[{"id":"8992a0be.571c3","type":"tab","label":"Thermostats","disabled":false,"info":""},{"id":"9042974a.d046e8","type":"inject","z":"8992a0be.571c3","name":"Deploy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":75,"y":330,"wires":[["4205e57c.c2171c"]]},{"id":"f1f34771.be4838","type":"api-current-state","z":"8992a0be.571c3","name":"Thermostat Mode","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_select.thermostat_downstairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":375,"wires":[["6dcd20b1.75ad3"]]},{"id":"6dcd20b1.75ad3","type":"switch","z":"8992a0be.571c3","name":"Air?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Air","vt":"str"},{"t":"neq","v":"Air","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":375,"wires":[["5ae94ddd.7b7084","39d23a39.0bb9f6"],["651749f8.ebf7e8"]]},{"id":"10242d00.005073","type":"trigger-state","z":"8992a0be.571c3","name":"Off","server":"53328d1c.e233e4","entityid":"input_select.thermostat_downstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"o3re3hu1igr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Off"},{"id":"29m7nyzl98b","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":65,"y":120,"wires":[["57bc7f1b.65b7f","125270ac.81aeaf"],[]]},{"id":"57bc7f1b.65b7f","type":"api-call-service","z":"8992a0be.571c3","name":"Down Air Off","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.downstairs_air_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":270,"y":120,"wires":[[]]},{"id":"125270ac.81aeaf","type":"api-call-service","z":"8992a0be.571c3","name":"Down Furnace Off","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.downstairs_furnace_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":298,"y":160,"wires":[[]]},{"id":"ef5e8955.71e998","type":"trigger-state","z":"8992a0be.571c3","name":"Air","server":"53328d1c.e233e4","entityid":"input_select.thermostat_downstairs","debugenabled":false,"constraints":[{"id":"dyso8ugm40f","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Air"},{"id":"md2ey1f45pq","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Air"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":65,"y":150,"wires":[["57bc7f1b.65b7f","125270ac.81aeaf"],[]]},{"id":"e5d16231.d5f98","type":"trigger-state","z":"8992a0be.571c3","name":"Heat","server":"53328d1c.e233e4","entityid":"input_select.thermostat_downstairs","debugenabled":false,"constraints":[{"id":"51vbgsl04e7","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Heat"},{"id":"i31e5gujpz","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Heat"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":65,"y":180,"wires":[["57bc7f1b.65b7f","125270ac.81aeaf"],[]]},{"id":"5ae94ddd.7b7084","type":"api-current-state","z":"8992a0be.571c3","name":"Down Temp","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.average_downstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":625,"y":315,"wires":[["fab8070.34a76f8"]]},{"id":"39d23a39.0bb9f6","type":"api-current-state","z":"8992a0be.571c3","name":"Down Target","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.targettemp_downstairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":625,"y":435,"wires":[["a7d804a4.119808"]]},{"id":"69d57616.728b48","type":"join","z":"8992a0be.571c3","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":815,"y":375,"wires":[["9fd1b1a0.0dd9a"]]},{"id":"9fd1b1a0.0dd9a","type":"function","z":"8992a0be.571c3","name":"Air","func":"if (msg.payload.down_temp - msg.payload.target_temp >= 0.5)\n{\n    msg.payload = \"air\";\n}\nelse if (msg.payload.down_temp - msg.payload.target_temp <= 0.0)\n{\n    msg.payload = \"off\";\n}\nelse\n{\n    msg.payload = \"timer\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":375,"wires":[["b3070c37.36b27"]]},{"id":"a7d804a4.119808","type":"change","z":"8992a0be.571c3","name":"target_temp","rules":[{"t":"change","p":"topic","pt":"msg","from":"input_number.targettemp_downstairs","fromt":"str","to":"target_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":435,"wires":[["69d57616.728b48"]]},{"id":"fab8070.34a76f8","type":"change","z":"8992a0be.571c3","name":"down_temp","rules":[{"t":"change","p":"topic","pt":"msg","from":"sensor.average_downstairs_temp","fromt":"str","to":"down_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":315,"wires":[["69d57616.728b48"]]},{"id":"b3070c37.36b27","type":"switch","z":"8992a0be.571c3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"air","vt":"str"},{"t":"eq","v":"timer","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1115,"y":375,"wires":[["1b5054a6.33073b","651749f8.ebf7e8"],["84859bd2.f5eb58","14f01eb1.b2bcd1"],["c343b3bc.17299"]]},{"id":"a74f72ef.0dcc8","type":"api-call-service","z":"8992a0be.571c3","name":"Dn Air On","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.downstairs_air_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1452,"y":375,"wires":[[]]},{"id":"3a9c5c0b.ce3f84","type":"trigger-state","z":"8992a0be.571c3","name":"Mode Change","server":"53328d1c.e233e4","entityid":"input_select.thermostat_downstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":95,"y":375,"wires":[["f1f34771.be4838"],[]]},{"id":"eb2ea57f.56f738","type":"trigger-state","z":"8992a0be.571c3","name":"Target Change","server":"53328d1c.e233e4","entityid":"input_number.targettemp_downstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":95,"y":420,"wires":[["f1f34771.be4838"],[]]},{"id":"b0c78ed1.e41ee","type":"api-current-state","z":"8992a0be.571c3","name":"Down Temp","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.average_downstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":625,"y":555,"wires":[["b165d6c3.3db4b8"]]},{"id":"60d5bd50.64fe54","type":"api-current-state","z":"8992a0be.571c3","name":"Down Target","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.targettemp_downstairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":625,"y":675,"wires":[["8cd040bb.33b74"]]},{"id":"b165d6c3.3db4b8","type":"change","z":"8992a0be.571c3","name":"down_temp","rules":[{"t":"change","p":"topic","pt":"msg","from":"sensor.average_downstairs_temp","fromt":"str","to":"down_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":555,"wires":[["a05ee70.56c7e18"]]},{"id":"8cd040bb.33b74","type":"change","z":"8992a0be.571c3","name":"target_temp","rules":[{"t":"change","p":"topic","pt":"msg","from":"input_number.targettemp_downstairs","fromt":"str","to":"target_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":675,"wires":[["a05ee70.56c7e18"]]},{"id":"a05ee70.56c7e18","type":"join","z":"8992a0be.571c3","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":815,"y":615,"wires":[["92b31a29.3b3c08"]]},{"id":"92b31a29.3b3c08","type":"function","z":"8992a0be.571c3","name":"Heat","func":"if (msg.payload.target_temp - msg.payload.down_temp >= 0.5)\n{\n    msg.payload = \"heat\";\n}\nelse if (msg.payload.target_temp - msg.payload.down_temp <= 0.0)\n{\n    msg.payload = \"off\";\n}\nelse\n{\n    msg.payload = \"timer\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":615,"wires":[["90790412.0eff48"]]},{"id":"90790412.0eff48","type":"switch","z":"8992a0be.571c3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"timer","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1115,"y":615,"wires":[["2995d5bd.28e6da","2bb6d59a.cb1b7a"],["befaf675.b0ac78","38d8945b.60d69c"],["2db368af.b62d48"]]},{"id":"ca5134e7.ebbb98","type":"api-call-service","z":"8992a0be.571c3","name":"Dn Heat On","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.downstairs_furnace_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1432,"y":615,"wires":[[]]},{"id":"1dad0a77.a4da96","type":"inject","z":"8992a0be.571c3","name":"Deploy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":75,"y":570,"wires":[["d6d459d.528f9a8"]]},{"id":"998f02d1.e4ad4","type":"api-current-state","z":"8992a0be.571c3","name":"Thermostat Mode","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_select.thermostat_downstairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":615,"wires":[["4599301.f3598d"]]},{"id":"4599301.f3598d","type":"switch","z":"8992a0be.571c3","name":"Heat?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Heat","vt":"str"},{"t":"neq","v":"Heat","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":615,"wires":[["b0c78ed1.e41ee","60d5bd50.64fe54"],["2bb6d59a.cb1b7a"]]},{"id":"957a2411.c47c28","type":"trigger-state","z":"8992a0be.571c3","name":"Mode Change","server":"53328d1c.e233e4","entityid":"input_select.thermostat_downstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":95,"y":615,"wires":[["998f02d1.e4ad4"],[]]},{"id":"fe0030de.499ec","type":"trigger-state","z":"8992a0be.571c3","name":"Target Change","server":"53328d1c.e233e4","entityid":"input_number.targettemp_downstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":95,"y":660,"wires":[["998f02d1.e4ad4"],[]]},{"id":"c87c8eb3.f52e3","type":"status","z":"8992a0be.571c3","name":"HA Restart","scope":null,"x":75,"y":525,"wires":[["7534c079.c3e34"]]},{"id":"7534c079.c3e34","type":"switch","z":"8992a0be.571c3","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":215,"y":525,"wires":[["48d40deb.ef6724"]]},{"id":"48d40deb.ef6724","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":525,"wires":[["998f02d1.e4ad4"]]},{"id":"21bbe597.44704a","type":"comment","z":"8992a0be.571c3","name":"- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Downstairs Thermostat - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ","info":"","x":545,"y":30,"wires":[]},{"id":"b4725769.2c0618","type":"comment","z":"8992a0be.571c3","name":"Mode Change - Turn Off Units","info":"","x":135,"y":75,"wires":[]},{"id":"41800785.cc4b48","type":"comment","z":"8992a0be.571c3","name":"----------------------------------Downstairs Air Conditioner----------------------------------","info":"","x":285,"y":240,"wires":[]},{"id":"9e18e4d1.65bc28","type":"status","z":"8992a0be.571c3","name":"HA Restart","scope":null,"x":75,"y":285,"wires":[["8aeb92c0.198be"]]},{"id":"8aeb92c0.198be","type":"switch","z":"8992a0be.571c3","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":215,"y":285,"wires":[["851123a.3c8afe"]]},{"id":"851123a.3c8afe","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":285,"wires":[["f1f34771.be4838"]]},{"id":"da6de34e.34e6e","type":"comment","z":"8992a0be.571c3","name":"----------------------------------Downstairs Furnace----------------------------------","info":"","x":265,"y":480,"wires":[]},{"id":"29d05d18.05d3a2","type":"trigger-state","z":"8992a0be.571c3","name":"Off","server":"53328d1c.e233e4","entityid":"input_select.thermostat_upstairs","debugenabled":false,"constraints":[{"id":"o3re3hu1igr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Off"},{"id":"29m7nyzl98b","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":65,"y":810,"wires":[["352a3be0.9da8c4","2e65fa66.10bfb6"],[]]},{"id":"352a3be0.9da8c4","type":"api-call-service","z":"8992a0be.571c3","name":"Up Air Off","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.upstairs_air_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":240,"y":825,"wires":[[]]},{"id":"2e65fa66.10bfb6","type":"api-call-service","z":"8992a0be.571c3","name":"Up Furnace Off","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.upstairs_furnace_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":260,"y":855,"wires":[[]]},{"id":"c9778da4.a70bd","type":"comment","z":"8992a0be.571c3","name":"Mode Change - Turn Off Units","info":"","x":135,"y":765,"wires":[]},{"id":"f5fd7825.e8fb38","type":"comment","z":"8992a0be.571c3","name":"- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Upstairs Thermostat - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ","info":"","x":535,"y":720,"wires":[]},{"id":"80080779.85d0f8","type":"trigger-state","z":"8992a0be.571c3","name":"Air","server":"53328d1c.e233e4","entityid":"input_select.thermostat_upstairs","debugenabled":false,"constraints":[{"id":"jslckm0wtmn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Air"},{"id":"5kh1d5l5gg3","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Air"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":65,"y":840,"wires":[["352a3be0.9da8c4","2e65fa66.10bfb6"],[]]},{"id":"61937429.6acfdc","type":"trigger-state","z":"8992a0be.571c3","name":"Heat","server":"53328d1c.e233e4","entityid":"input_select.thermostat_upstairs","debugenabled":false,"constraints":[{"id":"9gi8y9o1wdn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Heat"},{"id":"9x7k3r9mvof","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Heat"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":65,"y":870,"wires":[["352a3be0.9da8c4","2e65fa66.10bfb6"],[]]},{"id":"5ab5c092.17234","type":"inject","z":"8992a0be.571c3","name":"Deploy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":75,"y":1020,"wires":[["32280a14.c14966"]]},{"id":"6a544e87.95431","type":"api-current-state","z":"8992a0be.571c3","name":"Thermostat Mode","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_select.thermostat_upstairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":1065,"wires":[["c7fce7ee.72e638"]]},{"id":"c7fce7ee.72e638","type":"switch","z":"8992a0be.571c3","name":"Air?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Air","vt":"str"},{"t":"neq","v":"Air","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1065,"wires":[["1e49f9ad.806e56","2eb0eefd.225f02"],["30611dac.f94da2"]]},{"id":"acd83a03.34b2d8","type":"trigger-state","z":"8992a0be.571c3","name":"Mode Change","server":"53328d1c.e233e4","entityid":"input_select.thermostat_upstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":95,"y":1065,"wires":[["6a544e87.95431"],[]]},{"id":"5cc88e70.7c03e","type":"trigger-state","z":"8992a0be.571c3","name":"Target Change","server":"53328d1c.e233e4","entityid":"input_number.targettemp_upstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":95,"y":1110,"wires":[["6a544e87.95431"],[]]},{"id":"b882a291.6c5b2","type":"comment","z":"8992a0be.571c3","name":"----------------------------------Upstairs Air Conditioner----------------------------------","info":"","x":275,"y":930,"wires":[]},{"id":"655dbf02.ca662","type":"status","z":"8992a0be.571c3","name":"HA Restart","scope":null,"x":75,"y":975,"wires":[["a9fdd2e8.9b454"]]},{"id":"a9fdd2e8.9b454","type":"switch","z":"8992a0be.571c3","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":215,"y":975,"wires":[["151595b4.5626aa"]]},{"id":"151595b4.5626aa","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":975,"wires":[["6a544e87.95431"]]},{"id":"1e49f9ad.806e56","type":"api-current-state","z":"8992a0be.571c3","name":"Up Temp","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.average_upstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":615,"y":1005,"wires":[["d2e336f.0ec7fc8"]]},{"id":"2eb0eefd.225f02","type":"api-current-state","z":"8992a0be.571c3","name":"Up Target","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.targettemp_upstairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":615,"y":1125,"wires":[["8eec4dc5.88db"]]},{"id":"58a840d1.49f7a","type":"join","z":"8992a0be.571c3","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":1065,"wires":[["34cfd886.79cb88"]]},{"id":"34cfd886.79cb88","type":"function","z":"8992a0be.571c3","name":"Air","func":"if (msg.payload.up_temp - msg.payload.target_temp >= 0.5)\n{\n    msg.payload = \"air\";\n}\nelse if (msg.payload.up_temp - msg.payload.target_temp <= 0.0)\n{\n    msg.payload = \"off\";\n}\nelse\n{\n    msg.payload = \"timer\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":965,"y":1065,"wires":[["638df3c1.3c0b1c"]]},{"id":"8eec4dc5.88db","type":"change","z":"8992a0be.571c3","name":"target_temp","rules":[{"t":"change","p":"topic","pt":"msg","from":"input_number.targettemp_upstairs","fromt":"str","to":"target_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":1125,"wires":[["58a840d1.49f7a"]]},{"id":"d2e336f.0ec7fc8","type":"change","z":"8992a0be.571c3","name":"up_temp","rules":[{"t":"change","p":"topic","pt":"msg","from":"sensor.average_upstairs_temp","fromt":"str","to":"up_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":765,"y":1005,"wires":[["58a840d1.49f7a"]]},{"id":"638df3c1.3c0b1c","type":"switch","z":"8992a0be.571c3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"air","vt":"str"},{"t":"eq","v":"timer","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1115,"y":1065,"wires":[["333ff9ee.ab9766","30611dac.f94da2"],["102e80e8.72c3cf","73e10d55.d3e524"],["743e90d2.f7ecb"]]},{"id":"cc940e5f.57aaa","type":"api-call-service","z":"8992a0be.571c3","name":"Up Air On","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.upstairs_air_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1440,"y":1065,"wires":[[]]},{"id":"a6de4374.9540f","type":"inject","z":"8992a0be.571c3","name":"Deploy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":75,"y":1260,"wires":[["d209873c.8dab08"]]},{"id":"dd0896bf.2c30f8","type":"api-current-state","z":"8992a0be.571c3","name":"Thermostat Mode","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_select.thermostat_upstairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":1305,"wires":[["eaf22b52.113c28"]]},{"id":"5287ec53.4f8094","type":"trigger-state","z":"8992a0be.571c3","name":"Mode Change","server":"53328d1c.e233e4","entityid":"input_select.thermostat_upstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":95,"y":1305,"wires":[["dd0896bf.2c30f8"],[]]},{"id":"40e4d79f.96f068","type":"trigger-state","z":"8992a0be.571c3","name":"Target Change","server":"53328d1c.e233e4","entityid":"input_number.targettemp_upstairs","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":95,"y":1350,"wires":[["dd0896bf.2c30f8"],[]]},{"id":"d5263d8e.b4f88","type":"comment","z":"8992a0be.571c3","name":"----------------------------------Upstairs Furnace----------------------------------","info":"","x":255,"y":1170,"wires":[]},{"id":"4602f3a8.3aa3cc","type":"status","z":"8992a0be.571c3","name":"HA Restart","scope":null,"x":75,"y":1215,"wires":[["254fef6d.b1819"]]},{"id":"254fef6d.b1819","type":"switch","z":"8992a0be.571c3","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":215,"y":1215,"wires":[["6743f208.b67adc"]]},{"id":"6743f208.b67adc","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1215,"wires":[["dd0896bf.2c30f8"]]},{"id":"eaf22b52.113c28","type":"switch","z":"8992a0be.571c3","name":"Heat?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Heat","vt":"str"},{"t":"neq","v":"Heat","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1305,"wires":[["95b4b8cd.641238","fa6c380b.4dd818"],["e6b174ef.2942b8"]]},{"id":"95b4b8cd.641238","type":"api-current-state","z":"8992a0be.571c3","name":"Up Temp","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.average_upstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":615,"y":1245,"wires":[["f923bd4e.922e2"]]},{"id":"fa6c380b.4dd818","type":"api-current-state","z":"8992a0be.571c3","name":"Up Target","server":"53328d1c.e233e4","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.targettemp_upstairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":615,"y":1365,"wires":[["a2a9d948.7159a8"]]},{"id":"fccfe3ef.3eaa9","type":"join","z":"8992a0be.571c3","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":1305,"wires":[["f6df1afc.061e78"]]},{"id":"a2a9d948.7159a8","type":"change","z":"8992a0be.571c3","name":"target_temp","rules":[{"t":"change","p":"topic","pt":"msg","from":"input_number.targettemp_upstairs","fromt":"str","to":"target_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":1365,"wires":[["fccfe3ef.3eaa9"]]},{"id":"f923bd4e.922e2","type":"change","z":"8992a0be.571c3","name":"up_temp","rules":[{"t":"change","p":"topic","pt":"msg","from":"sensor.average_upstairs_temp","fromt":"str","to":"up_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":765,"y":1245,"wires":[["fccfe3ef.3eaa9"]]},{"id":"f6df1afc.061e78","type":"function","z":"8992a0be.571c3","name":"Heat","func":"if (msg.payload.target_temp - msg.payload.up_temp >= 0.5)\n{\n    msg.payload = \"heat\";\n}\nelse if (msg.payload.target_temp - msg.payload.up_temp <= 0.0)\n{\n    msg.payload = \"off\";\n}\nelse\n{\n    msg.payload = \"timer\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":965,"y":1305,"wires":[["23ca7270.aaed3e"]]},{"id":"23ca7270.aaed3e","type":"switch","z":"8992a0be.571c3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"timer","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1115,"y":1305,"wires":[["2b2c18b.1b7dae8","e6b174ef.2942b8"],["2beef0f7.f43af","43d5f4ab.3fbc3c"],["1d974e14.b75352"]]},{"id":"94b98fec.0480b","type":"api-call-service","z":"8992a0be.571c3","name":"Up Heat On","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.upstairs_furnace_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1450,"y":1305,"wires":[[]]},{"id":"2db368af.b62d48","type":"api-current-state","z":"8992a0be.571c3","name":"heat?","server":"53328d1c.e233e4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.downstairs_furnace_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1265,"y":675,"wires":[["2995d5bd.28e6da"],["befaf675.b0ac78"]]},{"id":"1d974e14.b75352","type":"api-current-state","z":"8992a0be.571c3","name":"heat?","server":"53328d1c.e233e4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.upstairs_furnace_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1265,"y":1365,"wires":[["2b2c18b.1b7dae8"],["2beef0f7.f43af"]]},{"id":"743e90d2.f7ecb","type":"api-current-state","z":"8992a0be.571c3","name":"Air?","server":"53328d1c.e233e4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.upstairs_air_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1265,"y":1125,"wires":[["333ff9ee.ab9766"],["102e80e8.72c3cf"]]},{"id":"c343b3bc.17299","type":"api-current-state","z":"8992a0be.571c3","name":"Air?","server":"53328d1c.e233e4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.downstairs_air_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1265,"y":435,"wires":[["1b5054a6.33073b"],["84859bd2.f5eb58"]]},{"id":"2995d5bd.28e6da","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1005,"y":555,"wires":[["998f02d1.e4ad4"]]},{"id":"befaf675.b0ac78","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1005,"y":675,"wires":[["998f02d1.e4ad4"]]},{"id":"1b5054a6.33073b","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1005,"y":315,"wires":[["f1f34771.be4838"]]},{"id":"84859bd2.f5eb58","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1005,"y":435,"wires":[["f1f34771.be4838"]]},{"id":"2b2c18b.1b7dae8","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1005,"y":1245,"wires":[["dd0896bf.2c30f8"]]},{"id":"2beef0f7.f43af","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1005,"y":1365,"wires":[["dd0896bf.2c30f8"]]},{"id":"333ff9ee.ab9766","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1005,"y":1005,"wires":[["6a544e87.95431"]]},{"id":"102e80e8.72c3cf","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1005,"y":1125,"wires":[["6a544e87.95431"]]},{"id":"5de11be7.7ec0c4","type":"api-call-service","z":"8992a0be.571c3","name":"Up Heat Off","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.upstairs_furnace_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1600,"y":1245,"wires":[[]]},{"id":"e6b174ef.2942b8","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1275,"y":1245,"wires":[["5d21c518.332c4c"]]},{"id":"7da06ec3.3b2af","type":"api-call-service","z":"8992a0be.571c3","name":"Up Air Off","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.upstairs_air_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1590,"y":1005,"wires":[[]]},{"id":"30611dac.f94da2","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1275,"y":1005,"wires":[["c179f22a.4e57c"]]},{"id":"f766cab9.ad44d8","type":"api-call-service","z":"8992a0be.571c3","name":"Dn Heat Off","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.downstairs_furnace_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1600,"y":555,"wires":[[]]},{"id":"2bb6d59a.cb1b7a","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1275,"y":555,"wires":[["ed22476f.bae5b8"]]},{"id":"fbcb7380.b1b17","type":"api-call-service","z":"8992a0be.571c3","name":"Dn Air Off","server":"53328d1c.e233e4","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.downstairs_air_call","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1590,"y":315,"wires":[[]]},{"id":"651749f8.ebf7e8","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1275,"y":315,"wires":[["ae17adda.1b098"]]},{"id":"ed22476f.bae5b8","type":"api-current-state","z":"8992a0be.571c3","name":"Heat?","server":"53328d1c.e233e4","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.downstairs_furnace_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1430,"y":510,"wires":[[],["f766cab9.ad44d8","2bb6d59a.cb1b7a"]]},{"id":"ae17adda.1b098","type":"api-current-state","z":"8992a0be.571c3","name":"Air?","server":"53328d1c.e233e4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.downstairs_air_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1430,"y":270,"wires":[[],["fbcb7380.b1b17","651749f8.ebf7e8"]]},{"id":"c179f22a.4e57c","type":"api-current-state","z":"8992a0be.571c3","name":"Air?","server":"53328d1c.e233e4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.upstairs_air_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1430,"y":960,"wires":[[],["7da06ec3.3b2af","30611dac.f94da2"]]},{"id":"5d21c518.332c4c","type":"api-current-state","z":"8992a0be.571c3","name":"Heat?","server":"53328d1c.e233e4","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.upstairs_furnace_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1430,"y":1200,"wires":[[],["5de11be7.7ec0c4","e6b174ef.2942b8"]]},{"id":"45f54d1.5c8c1b4","type":"poll-state","z":"8992a0be.571c3","name":"Downstairs Temp","server":"53328d1c.e233e4","version":"1","updateinterval":"300","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.average_downstairs_temp","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":95,"y":1470,"wires":[["1be61ccd.733fb3"]]},{"id":"1be61ccd.733fb3","type":"switch","z":"8992a0be.571c3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"75","vt":"num"},{"t":"lte","v":"65","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1470,"wires":[["f6bf1013.65398"],["f4264442.f81ae8"]]},{"id":"4e5012a4.845aac","type":"function","z":"8992a0be.571c3","name":"Hot","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Uh Oh! It is HOT Downstairs!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"temp\"\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1455,"wires":[["12038890.5954c7","2661e4f6.581a5c"]]},{"id":"12038890.5954c7","type":"api-call-service","z":"8992a0be.571c3","name":"Jake","server":"53328d1c.e233e4","version":1,"service_domain":"notify","service":"mobile_app_jakes_iphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":725,"y":1455,"wires":[[]]},{"id":"4edd7c25.ceb2c4","type":"function","z":"8992a0be.571c3","name":"Cold","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Uh Oh! It is COLD Downstairs!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"temp\"\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1485,"wires":[["12038890.5954c7","2661e4f6.581a5c"]]},{"id":"2661e4f6.581a5c","type":"api-call-service","z":"8992a0be.571c3","name":"Mandy","server":"53328d1c.e233e4","version":"1","service_domain":"notify","service":"ios_mandys_iphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":725,"y":1485,"wires":[[]]},{"id":"921147f5.c9c598","type":"comment","z":"8992a0be.571c3","name":"Temp Sensors Watchdog - Hot/Cold Notifications","info":"","x":195,"y":1410,"wires":[]},{"id":"766bc754.6415c8","type":"poll-state","z":"8992a0be.571c3","name":"Upstairs Temp","server":"53328d1c.e233e4","version":"1","updateinterval":"300","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.average_upstairs_temp","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":85,"y":1545,"wires":[["a03cb468.f48038"]]},{"id":"a03cb468.f48038","type":"switch","z":"8992a0be.571c3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"76","vt":"num"},{"t":"lte","v":"65","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1545,"wires":[["bcfb097d.07bda8"],["f55aeb7b.19a918"]]},{"id":"cdf7de37.73943","type":"function","z":"8992a0be.571c3","name":"Hot","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Uh Oh! It is HOT Upstairs!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"temp\"\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1530,"wires":[["d2a59d7f.0ade4","23ef1e5c.4a2452"]]},{"id":"d2a59d7f.0ade4","type":"api-call-service","z":"8992a0be.571c3","name":"Jake","server":"53328d1c.e233e4","version":1,"service_domain":"notify","service":"mobile_app_jakes_iphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":725,"y":1530,"wires":[[]]},{"id":"dcfd8d87.82851","type":"function","z":"8992a0be.571c3","name":"Cold","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Uh Oh! It is COLD Upstairs!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"temp\"\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1560,"wires":[["d2a59d7f.0ade4","23ef1e5c.4a2452"]]},{"id":"23ef1e5c.4a2452","type":"api-call-service","z":"8992a0be.571c3","name":"Mandy","server":"53328d1c.e233e4","version":"1","service_domain":"notify","service":"ios_mandys_iphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":725,"y":1560,"wires":[[]]},{"id":"f6bf1013.65398","type":"throttle","z":"8992a0be.571c3","name":"","throttleType":"time","timeLimit":"1","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":425,"y":1455,"wires":[["4e5012a4.845aac"]]},{"id":"f4264442.f81ae8","type":"throttle","z":"8992a0be.571c3","name":"","throttleType":"time","timeLimit":"1","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":425,"y":1485,"wires":[["4edd7c25.ceb2c4"]]},{"id":"bcfb097d.07bda8","type":"throttle","z":"8992a0be.571c3","name":"","throttleType":"time","timeLimit":"1","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":425,"y":1530,"wires":[["cdf7de37.73943"]]},{"id":"f55aeb7b.19a918","type":"throttle","z":"8992a0be.571c3","name":"","throttleType":"time","timeLimit":"1","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":425,"y":1560,"wires":[["dcfd8d87.82851"]]},{"id":"d209873c.8dab08","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":1260,"wires":[["dd0896bf.2c30f8"]]},{"id":"32280a14.c14966","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":1020,"wires":[["6a544e87.95431"]]},{"id":"d6d459d.528f9a8","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":570,"wires":[["998f02d1.e4ad4"]]},{"id":"4205e57c.c2171c","type":"delay","z":"8992a0be.571c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":330,"wires":[["f1f34771.be4838"]]},{"id":"73e10d55.d3e524","type":"api-current-state","z":"8992a0be.571c3","name":"Air?","server":"53328d1c.e233e4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.upstairs_air_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1265,"y":1065,"wires":[["cc940e5f.57aaa"],[]]},{"id":"14f01eb1.b2bcd1","type":"api-current-state","z":"8992a0be.571c3","name":"Air?","server":"53328d1c.e233e4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.downstairs_air_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1265,"y":375,"wires":[["a74f72ef.0dcc8"],[]]},{"id":"43d5f4ab.3fbc3c","type":"api-current-state","z":"8992a0be.571c3","name":"Heat?","server":"53328d1c.e233e4","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.upstairs_furnace_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1265,"y":1305,"wires":[["94b98fec.0480b"],[]]},{"id":"38d8945b.60d69c","type":"api-current-state","z":"8992a0be.571c3","name":"Heat?","server":"53328d1c.e233e4","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.downstairs_furnace_call","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1265,"y":615,"wires":[["ca5134e7.ebbb98"],[]]},{"id":"53328d1c.e233e4","type":"server","z":"","name":"Home Assistant","legacy":true,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]